body{
    margin: 0;
    position: relative;
    background-color:  #fafafa;
}
.Main{
    background-color: black;
}
.header, .sidebar{
    display: flex;
    align-items: center;
    background-color: black;
    color: #fafafa;
    position: fixed;
    z-index: 5;
}
.header{
    height: 30px;
    justify-content: space-between;
    padding: 10px;
    width: 99%;
}
.sidebar{
    margin-top: 40px;
    flex-direction: column;
    justify-content: center;
    height: 100vh;
    width: 20vw;
}
.sidebar i, .sidebar div{
    margin-top: 30px;
}
.dynamic-container{
    padding-top: 50px;
    background-color: rgb(0, 0, 0);
}
.dynamic-container-expanded{
    /* margin-left: 100vw; */
    padding-top: 50px;
    background-color: rgb(0, 0, 0);
}
.movie-container{
    background-image: linear-gradient(rgba(0, 0, 0, 0.281), rgba(0, 0, 0, 0.6)), url(https://www.whatsong.org/images/movie/backdrop/sPPsR9f4K0movWVQ99u4uMqFzEL.jpg);
    background-position: center center;
    background-size: cover;
    height: 500px;
    position: relative;
}
.movie-container div{
    color: #fafafa;
    position: absolute;
    bottom: 10px;
    padding: 20px;
}
.home-movies {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    padding: 20px;
}
.movie-tile-content {
    height: 320px;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: black;
}
.dropdown{
    z-index: 6;
    position: fixed;
    top: 48px;
    right: 2px;
    background-color: #fff;
    height: 100px;
    width: 100px;
    padding: 10px;
    box-shadow: 0px 0px 4px 2px black;
}
.dropdown > div{
    display: flex;
    align-items: center;
    justify-content: center;
}
.description{
    color: #fafafa;
    display: flex;
    padding: 50px;
    height: 75vh;
}
.description-image{
    width: 100vw;
}
.description-content{
    margin-top: 50px;
    padding: 30px;
    div{
        margin-top: 20px;
    }
}